@page
@model PersonalFinance.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserLoginModel.Email" class="control-label">Email address</label>
                <input asp-for="UserLoginModel.Email" class="form-control" />
                <span asp-validation-for="UserLoginModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLoginModel.Password" class="control-label">Password</label>
                <input asp-for="UserLoginModel.Password" class="form-control" />
                <span asp-validation-for="UserLoginModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserLoginModel.RememberMe" /> @Html.DisplayNameFor(model => model.UserLoginModel.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

