
    <ul class="navbar-nav flex-grow-1">

        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <text class="nav-link text-dark"> Hello @User.Identity.Name</text>
                
            </li>
            <li class="nav-item">
                <form method="post" class="form-inline" asp-controller="Logout" asp-action="Logout">
                    <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
                </form>
            </li>
        }
        else {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Login">Login</a>
        </li>
        }


    </ul>


